common-border-color= #E1E7ED

menubar-background= #ffffff
menubar-width= 80px

timeline-background-color= #ffffff
timeline-width= 350px
timeline-iconarea-width= 50px
timeline-icon-color= #BBBBBB
timeline-icon-border-color= #E1E7ED
timeline-icon-border-width= 2px
timeline-icon-size= 30px
timeline-avatar-size= 40px

detail-background= #ffffff
default-text-color= #222222
default-sub-text-color= #B8B8B8
default-font-size= 16px