.timeline
  width timeline-width
  border-right 1px solid common-border-color
  background-color timeline-background
  overflow-y auto
  .timeline-cell
    padding 10px 30px
    &:hover
      background-color #F2F2F2
    .avatar
      width 30px
      height 30px
      float left
      margin-right 7px
    .username
      display block
      margin-bottom 0px
    .repo
      text-align right
      color default-sub-text-color
    time
      float right
      font-size .8em
      color default-sub-text-color

.detail
  flex-grow 1
  background-color detail-background
