.timeline
  width timeline-width
  border-right 1px solid common-border-color
  background-color timeline-background
  overflow-y auto
  .timeline-cell
    padding 10px 30px

.detail
  flex-grow 1
  background-color detail-background
