<!DOCTYPE html>
<html ng-app="involved">
  <head>
    <title>Involved</title>
    <link rel="stylesheet" href="./components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body class="flex-container flex-container-row" ng-controller="TimelineCtrl">
    <nav class="menus">
      <div class="profile">
        <img ng-src="{{me.avatar_url}}" class="avatar me">
        <span>{{me.login}}</span>
      </div>
    </nav>
    <section class="main-contents flex-container flex-container-row">
      <div class="timeline">
        <div class="timeline-cell" ng-repeat="t in timeline">
          <img ng-src="{{t.actor.avatar_url}}" class="avatar">
          <time>{{t.created_at | fromNow}}</time>
          <a href="{{t.actor.url}}" class="username">{{t.actor.login}}</a>
          <ng-switch on="t.type">
              <span ng-switch-when="CreateEvent">
                created {{t.payload.ref_type}}
                <div class="title">"{{t.payload.ref}}"</div>
              </span>
              <span ng-switch-when="IssuesEvent">
                {{t.payload.action}} issue #{{t.payload.issue.number}}
                <div class="title">"{{t.payload.issue.title}}"</div>
              </span>
              <span ng-switch-when="IssueCommentEvent">
                commented on issue #{{t.payload.issue.number}}
                <div class="title">"{{t.payload.issue.title}}"</div>
              </span>
              <span ng-switch-when="PushEvent">
                pushed {{t.payload.size}}
                <span ng-if="t.payload.size > 1">commits</span>
                <span ng-if="t.payload.size === 1">commit</span>
                to {{t.payload.ref | removeRef}}
              </span>
              <span ng-switch-when="PullRequestEvent">
                {{t.payload.action}} pull request #{{t.payload.pull_request.number}}
                <div class="title">"{{t.payload.pull_request.title}}"</div>
              </span>
              <span ng-switch-when="CommitCommentEvent">
                commented on commit
                @{{t.payload.comment.commit_id | shortSha}}
              </span>
              <span ng-switch-when="PullRequestReviewCommentEvent">
                commented on pull request
                #{{t.payload.pull_request.number}}
                <div class="title">"{{t.payload.pull_request.title}}"</div>
              </span>
              <span ng-switch-when="ReleaseEvent">
                {{t.payload.action}} {{t.payload.release.tag_name}}
                <div class="title" ng-if="t.payload.release.name">"{{t.payload.release.name}}"</div>
              </span>
              <span ng-switch-when="DeleteEvent">
                deleted {{t.payload.ref_type}} {{t.payload.ref}}
              </span>
              <span ng-switch-default>
                {{t.type}} - {{t.payload.action}}
              </span>
          </ng-switch>
          <div class="repo">- {{t.repo.name}}</div>
        </div>
      </div>
      <div class="detail"></div>
    </section>

    <script src="./js/init.js"></script>
    <script src="./components/angular/angular.js"></script>
    <script src="./components/angular-resource/angular-resource.js"></script>
    <script src="./components/moment/moment.js"></script>
    <script src="./components/lodash/lodash.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
