a
a:hover
a:active
a:visited
  color default-link-color
  font-weight bold
  text-decoration none

.flex-container
  display flex
  height 100%
  width 100%

.flex-container-row
  flex-direction row

.flex-container-col
  flex-direction column

.avatar
  width 45px
  height 45px

.guide
  margin-top 20px
  padding 10px 20px
  border 1px solid #E5E5E5
  border-radius 10px

.table-list
  display table
  table-layout fixed
  width 100%
  border-bottom 1px solid #E5E5E5

.table-list-item
  display table-row
  .table-list-cell:last-child
    border-left none
    border-right 1px solid #E5E5E5
    width 60px

.table-list-cell
  position relative
  display table-cell
  border-top 1px solid #E5E5E5
  border-left 1px solid #E5E5E5
  padding 8px 10px

.body-blank
  margin-top 100px
