a
a:hover
a:active
a:visited
  color default-link-color
  font-weight bold
  text-decoration none

.flex-container
  display flex
  height 100%
  width 100%

.flex-container-row
  flex-direction row

.flex-container-col
  flex-direction column

.avatar
  width 45px
  height 45px
