body
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin 0
  padding 0
  color default-text-color
  font-size default-font-size

a
a:hover
a:active
a:visited
  color #52A8E0
  font-weight bold
  text-decoration none

.flex-container
  display flex
  height 100%

.flex-container-row
  flex-direction row

.flex-container-col
  flex-direction column

.menus
  width menubar-width
  background-color menubar-background
  border-right 1px solid common-border-color

.main-contents
  flex-grow 1
