body
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin 0
  padding 0
  color default-text-color
  font-size default-font-size

#content
  height 100%

.menus
  padding-top titlebar-height
  background-color menubar-background
  border-right 1px solid common-border-color
  flex none
  width menubar-width
  box-shadow inset 0 0 10px #eee
  position relative

.main-contents
  flex-grow 1
