.a-menu
  text-align center
  margin-top 10px
  padding 7px 0
  cursor pointer
  color #999
  position relative
  &:hover
  &:active
    color #333
    &:before
      position absolute
      top 0
      left 0
      bottom 0
      width 5px
      content ""
      background-color #d26911
