.a-menu
  text-align center
  margin-top 10px
  padding 7px 0
  cursor pointer
  color #999
  position relative
  &:hover
  &:active
  &.active
    color #333
    &:before
      position absolute
      top 0
      left 0
      bottom 0
      width 5px
      content ""
      background-color #d26911
  .tooltipped
    display inline-block
    padding 0 5px

#profile
  text-align center
  margin-bottom 20px

.footer
  color #999
  position absolute
  bottom 0
  width 100%
  border 1px solid #E4E4E4
  text-align center
  padding 5px 0
  z-index 100
  .footer-item
    font-size 25px
    cursor pointer

#profile-menu
  line-height normal
  position absolute
  bottom 0
  left (menubar-width - 10)
  width 180px
  display none
  box-shadow -3px 3px 11px -1px rgba(0,0,0,0.3)
  text-align left
  &.active
    display block
  a
  a:hover
  a:active
  a:visited
    font-weight normal
