.timeline
  border-right 1px solid common-border-color
  background-color timeline-background-color
  overflow-y auto
  flex none
  width timeline-width
  .timeline-cell
    &:hover
      background-color #F2F2F2
    .cell-type
      width 50px
      position relative
      .octicon
        position absolute
        top 10px
        left 50%
        margin-left -(timeline-icon-size / 2)
        width timeline-icon-size
        height timeline-icon-size
        line-height 26px
        border timeline-icon-border-width solid timeline-icon-border-color
        border-radius 999px
        color timeline-icon-color
        display inline-block
        text-align center
        font-size 1.3em
        z-index 10
        background-color timeline-background-color
      &:after
        content ""
        position absolute
        z-index 1
        top 0
        bottom 0
        left 50%
        border-left timeline-icon-border-width solid timeline-icon-border-color
    .cell-body
      flex-grow 1
      width (timeline-width - timeline-iconarea-width)
      padding 10px 10px 10px 0
      .avatar
        width timeline-avatar-size
        height timeline-avatar-size
        float left
        margin-right 7px
      .username
        display block
        margin-bottom 0px
        line-height 1
      .repo
        color default-sub-text-color
      time
        float right
        font-size .7em
        color default-sub-text-color
    &.infinite-loading
      line-height 50px
      height 50px
      text-align center

.detail
  flex-grow 1
  background-color detail-background
  padding 10px 20px
  overflow-y auto
  .state
    margin-right 5px
  .author
    font-weight bold
  .meta
    color #767676
    line-height 2
  .black
    color #222
  .bold
    font-weight bold
  .expander
    text-align center
    margin-top 10px
    margin-bottom 10px
.d-repo
  .mega-octicon
  .octicon
    margin-right 7px
    vertical-align middle
    color #bbb
.d-head
  padding-bottom 5px
  .author
    margin-right 3px
.d-body
  padding-top 10px
  border-top 1px solid #eee
  .comment
    margin-left 52px
    position relative
    border 1px solid #e5e5e5
    border-radius .25rem .25rem 0 0
    .avatar
      margin-left -52px
      position absolute
  .comment-head
    border-bottom 1px solid #e5e5e5
    padding 4px 10px
    background-color #F7F7F7
    .meta
      font-size 0.8em
  .comment-body
    padding 15px 10px
.emoji
  width 20px
  height 20px
.issue-num
  color #aaa
.commit-ref
  padding 3px 5px
  border-radius 3px
  color #336479
  background-color #e8f0f8
.commit
  margin-bottom 30px
.commit-header
  border 1px solid #c5d5dd
  background-color #e6f1f6
  border-radius 3px
  margin-bottom 10px
  & > h2
  & > .octicon
    margin-left 10px
.commit-header-detail
  border-top 1px solid #c5d5dd
  padding 5px 10px
  background-color #fff
  margin-top 4px
  &:after
    content ""
    clear both
    display block
  .avatar
    width 20px
    height 20px
  .commit-info
    text-align right
.avatar-child
  width 20px
  height 20px
.commit-body
  .octicon
  .mega-octicon
    color #bbb
