#titlebar
  position fixed
  top 0
  left 0
  width 100%
  height titlebar-height
  -webkit-app-region drag
  -webkit-user-select none

.window-buttons
  width 60px
  height titlebar-height
  line-height 10px
  font-size 11px
  text-align center
  cursor default
  &:hover
    span
      visibility visible
.window-btn
  -webkit-app-region no-drag
  height 12px
  width 12px
  border-radius 12px
  display inline-block
  margin-left 8px
  margin-top 9px
  position relative
  span
    opacity 0.6
    visibility hidden
.window-button-close
  background-color close-button-color
  border 1px solid close-button-border-color
  &:active
    background-color close-button-active-color
.window-button-hide
  background-color hide-button-color
  border 1px solid hide-button-border-color
  &:active
    background-color hide-button-active-color
.window-button-fullscreen
  background-color fullscreen-button-color
  border 1px solid fullscreen-button-border-color
  &:active
    background-color fullscreen-button-active-color
