#titlebar
  position fixed
  top 0
  left 0
  width 100%
  height titlebar-height
  -webkit-app-region drag
  -webkit-user-select none
  background-color #F5F5F5
  border-bottom 1px solid #E5E5E5
  z-index 999

#profile
  position absolute
  top 0
  right 15px
  height titlebar-height
  line-height titlebar-height
  cursor pointer
  -webkit-app-region no-drag
  .avatar
    width 25px
    height 25px
    margin-right 5px
  .octicon
    margin-left 4px

#profile-menu
  line-height normal
  position absolute
  top (titlebar-height - 3)
  right 0
  width 180px
  display none
  box-shadow -3px 3px 11px -1px rgba(0,0,0,0.3)
  &.active
    display block
  a
  a:hover
  a:active
  a:visited
    font-weight normal
