common-border-color= #E1E7ED

// titlebar
titlebar-height= 30px
close-button-color= #FF5F56
hide-button-color= #FFBD2E
fullscreen-button-color= #28CA40
close-button-border-color= #EF524A
hide-button-border-color= #EFB027
fullscreen-button-border-color= #20BC35
close-button-active-color= #D04D46
hide-button-active-color= #C59224
fullscreen-button-active-color= #1B8E2C

menubar-background= #ffffff
menubar-width= 70px

timeline-background-color= #ffffff
timeline-width= 350px
timeline-iconarea-width= 50px
timeline-icon-color= #BBBBBB
timeline-icon-border-color= #E1E7ED
timeline-icon-border-width= 2px
timeline-icon-size= 30px
timeline-avatar-size= 40px

detail-background= #ffffff
default-text-color= #222222
default-sub-text-color= #B8B8B8
default-font-size= 16px
default-link-color= #4078c0
